<% content_for :title, 'Home | GyozaGuy.com' %>
<div id="homeContent">
	<div class="lastPost">
		<h1><%= @post.title %></h1>
		<h2><%= @post.post_date %> | By <%= link_to @post.user.username, @post.user %></h2>
		<%= @post.content.html_safe %>
	</div>
</div>
<div id="latestComments">
	<b>Latest comments:</b>
	<% @comments.each do |comment| %>
	<div class="latestComment">
		<%= comment.content[0..100].gsub(/\s\w+$/,'...') %>
		<span class="author">- <%= link_to comment.user.username, comment.user %> in <%= link_to comment.post.title, comment.post %></span>
	</div>
	<% end %>
</div>
<%= render partial: 'comments/comment' %>